.about-section {
  /* height: 1400px; */
  width: 100%;
  background-color: #028e73;
  position: relative;
}
.blob-parent {
  display: flex;
  justify-content: space-between;
  height: 50%;
  width: 100%;
}

.about-text {
  font-size: 34px;
  color: aliceblue;
  font-family: "k24";

  font-weight: bold;
}
.about-text-container {
  position: absolute;
  right: 90px;
  top: 6%;
  text-align: justify; /* Justify the text */
  direction: rtl; /* Set text direction to right-to-left */
  width: 40%;
  color: aliceblue;
  font-size: large;
  font-weight: bold;
}
.header-text-about {
  font-size: 34;
  color: aliceblue;
}
.blob-container {
  width: 700px;
  height: 700px;
  overflow: hidden;
  border-radius: 50%;
  position: relative;
}

.blob-container svg {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.gallery {
  height: 600px;
  margin-top: 150px;
}

.slick-prev,
.slick-next {
  color: black; /* Change color as needed */
}

.carousel-slide {
  margin: 0 10px; /* Adjust the margins as needed */
  outline: none; /* Remove if not needed */
}

.carousel .slick-slide {
  margin: 0 10px; /* Adjust the margins as needed */
}

.header-text {
  color: aliceblue;
}

.types {
  background-color: antiquewhite;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.newTransparent {
  position: absolute;
  height: 300px;
  width: 300px;
  /* overflow: hidden; */
  top: 0;
  right: 10px;
}

.newTransparent img {
  position: absolute;
  height: 450px;
  width: 450px;
  /* overflow: hidden; */
  top: 120px;
  right: 180px;
  transform: rotate(45deg);
}

@media screen and (max-width: 768px) {
  .newTransparent img {
    display: none;
  }
  .about-text-container {
    top: 6%;
  }

  .gallery {
    margin-top: 350px;
  }
}
.apartments {
  width: 800px;
  height: 750px;
  border-radius: 12px;
  margin-top: 70px;
}
@media screen and (max-width: 768px) {
  .apartments {
    width: 300px;
    height: 300px;
    border-radius: 12px;
    margin-top: 70px;
  }
}
.apartment-header {
  color: #028e73; /* Desired color */
  font-weight: bold; /* Desired font weight */
}
.floor-plans {
  color: antiquewhite; /* Desired color */
  font-weight: bold; /* Desired font weight */
}

.floors {
  height: 600px;
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Three columns with equal width */
  gap: 20px; /* Gap between grid items */
  background-color: #028e73;
  padding: 20px;
  margin-top: 40px;
}

.floor-image {
  width: 100%; /* Ensure images take full width of grid cell */
  height: auto; /* Maintain aspect ratio */
  border-radius: 12px;
}
@media screen and (max-width: 768px) {
  .floors {
    grid-template-columns: repeat(
      2,
      1fr
    ); /* Two columns with equal width for smaller screens */
  }
}

.kurdish-text {
  direction: rtl; /* Set text direction to right-to-left */
  text-align: justify; /* Justify the text */
  font-size: 16px; /* Adjust font size as needed */
  line-height: 1.6; /* Adjust line height for readability */
  margin-bottom: 20px; /* Add margin to separate from other content */
  color: #fff; /* Set text color */
  font-family: "k24";
}
