/* Slider.css */

.modern-slider {
  position: relative;
  margin-top: 100px;
  height: 500px;
}
.modern-slider img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.slick-prev,
.slick-next {
  font-size: 0; /* Hide default arrows */
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
  cursor: pointer;
  background: transparent;
  border: none;
  outline: none;
}

.slick-prev::before,
.slick-next::before {
  content: "";
  display: inline-block;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.7); /* Arrow background color */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.slick-prev {
  left: 20px;
}

.slick-next {
  right: 20px;
}

.pointer {
  position: absolute;
  bottom: 20px; /* Adjust pointer position */
  left: 50%;
  transform: translateX(-50%);
  width: 12px;
  height: 12px;
  background-color: rgba(255, 255, 255, 0.5); /* Pointer color */
  border-radius: 50%;
}
